.footer {
  bottom: 0;
  flex-direction: row;
  height: 120px;
  bottom: 0;
  left: 50%;
  flex-shrink: 0;
  align-items: flex-end;
  margin-top: auto;

  .address {
    justify-content: center;
  }

  .phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .icons {
    float: right;
    margin-right: 60px;

    a {
      margin: 10px;
    }
  }
}
