.footer {
  bottom: 0;
  position: fixed;
  flex-shrink: 0;

  #address {
    text-align: center;
  }

  .phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .icons {
    float: right;
  }
}
