.header {
  background-color: Transparent;
  display: flex;
  flex-direction: row;

  .logo {
    padding: 25px 70px;
    height: 200px;
    width: 360px;
  }

  .col-12 {
    display: flex;
    justify-content: flex-end;

    a {
      color: white;
    }

    .address {
      display: flex;
      justify-content: flex-end;
      margin: 20px;
    }

    .phone {
      color: white;
      display: flex;
      justify-content: flex-end;
      margin: 20px;
    }
  }

  #btn {
    justify-content: flex-end;
    background-color: transparent;
    width: 100px;
  }

  @media (min-width: 670px) {
    flex-direction: column;

    .address {
      display: none;
    }
  }
}
