.menu {
  .dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .dropbtn {
      display: flex;
      justify-content: end;
      border: none;
      background-color: transparent;
    }
  }

  .content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #ddd;
    }
  }

  .dropdown:hover .content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: silver;
  }
}
