.products {
  text-align: center;

  .name {
    color: yellow;
    margin: 20px;
  }

  .btn1 {
    background-color: rgb(150, 35, 15);
    border-radius: 14px;
    border: none;
    width: 120px;
    height: 35px;
    margin: 25px;
  }

  .btn2 {
    background-color: rgb(224, 86, 32);
    border-radius: 14px;
    border: none;
    width: 120px;
    height: 35px;
    margin: 25px;
  }
  .btn3 {
    background-color: rgb(150, 35, 15);
    border-radius: 14px;
    border: none;
    width: 120px;
    height: 35px;
    margin: 25px;
  }
}
