.contact {
  position: static;
}

#contact {
  margin: 0;
  padding: 0;
  background: url("../../images/bg3.jpg") fixed;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

#container {
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 47%;
  color: white;
  background-color: rgb(224, 86, 32);
  border-radius: 14px;
  border: none;
  width: 120px;
  height: 35px;
}

.container .btn:hover {
  background-color: black;
}

.container #layer38 {
  position: absolute;
  top: 35%;
  left: 50%;
}
