#hours {
  margin: 0;
  padding: 0;
  background: url("../../images/bg3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

table {
  color: white;
  text-align: center;
}

.col-12 {
  color: white;
}

#container {
  text-align: center;
}
