.form {
  background-image: url("../../../images/bg4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;

  input {
    width: 100%;
    border: 2px solid rgba(233, 236, 52, 0.671);
    border-radius: 14px;
    padding: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    color: white;

    &::placeholder {
      color: #fff;
    }
  }

  textarea {
    width: 100%;
    margin-top: 25px;
    background-color: Transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    border: 2px solid rgba(233, 236, 52, 0.671);
    border-radius: 14px;
  }

  button {
    background-color: rgb(224, 86, 32);
    border-radius: 14px;
    border: none;
    width: 120px;
    height: 35px;
    margin: 25px;
    outline: none;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    font-weight: bold;
  }

  .top {
    margin-bottom: 20px;
  }
}
