.header {
  background-color: Transparent;
  display: flex;
  flex-direction: row;

  .header-menu {
    padding: 20px;
    position: fixed;
    right: 5%;
    z-index: 99;
  }

  .img-fluid {
    padding: 10px;
    height: auto;
    max-width: 190px;
  }
  .row {
    width: 100%;
  }

  .info {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;

    a {
      color: white;
    }

    .address {
      display: flex;
      justify-content: flex-end;
      margin: 20px;

      img {
        padding-right: 15px;
      }
    }

    .phone {
      display: flex;
      justify-content: flex-end;
      margin: 20px;

      img {
        padding-right: 15px;
      }
    }
  }
}
