.header {
  background-color: Transparent;
  display: flex;
  flex-direction: row;

  .header-menu {
    padding: 20px;
    position: fixed;
    right: 5%;
    z-index: 99;
  }

  .img-fluid {
    padding: 25px 70px;
    max-height: 200px;
    max-width: 360px;
  }
  .row {
    width: 100%;
  }

  .info {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;

    a {
      color: white;
    }

    .address {
      display: flex;
      justify-content: flex-end;
      margin: 20px;

      img {
        padding-right: 15px;
      }
    }

    .phone {
      color: white;
      display: flex;
      justify-content: flex-end;
      margin: 20px;

      img {
        padding-right: 15px;
      }
    }
  }

  @media (max-width: 820px) {
    flex-direction: column;

    .header {
      .info {
        padding: 0;

        .address {
          display: none;
        }
      }
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 767px) {
    .header {
      .info {
        padding: 0;

        .address {
          display: none;
        }
      }

      .img-fluid {
        padding: 15px 5px 20px 15px;
        max-height: 140px;
        max-width: 240px;
        float: left;
      }
    }
  }
}
