.menu {
  position: relative;
  z-index: 99999;

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    transform: translateY(-100%);

    &.toggled {
      transform: translateY(0%);
    }

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;

      a:hover,
      a:focus {
        color: #f1f1f1;
      }
    }

    .closebtn {
      position: absolute;
      top: 40px;
      right: 45px;
      font-size: 60px;
    }
  }

  span {
    font-size: 30px;
    cursor: pointer;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  @media (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
