@import "./includes/pages";
@import "./includes/menu";
@import "./includes/header";
@import "./includes/footer";
@import "./includes/home";
@import "./includes/services";
@import "./includes/form";
@import "./includes/hours";
@import "./includes/contact";
@import "./includes/products";
@import "./includes/about";
@import "./includes/gallery";

* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  .nameTag {
    text-align: center;
    font-size: 3em;
  }

  @media (max-width: 670px) {
    .nameTag {
      font-size: 2em;
    }
  }
}
