@import "./includes/header";
@import "./includes/footer";
@import "./includes/services";
@import "./includes/form";
@import "./includes/hours";
@import "./includes/contact";
@import "./includes/products";
@import "./includes/about";
@import "./includes/gallery";
@import "./includes/homepage";

* {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../../images/bg3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;

  .nameTag {
    text-align: center;
    font-size: 3em;
  }
}
