@import "./includes/pages";
@import "./includes/menu";
@import "./includes/header";
@import "./includes/footer";
@import "./includes/home";
@import "./includes/services";
@import "./includes/form";
@import "./includes/hours";
@import "./includes/contact";
@import "./includes/products";
@import "./includes/about";
@import "./includes/gallery";
@import "./includes/homepage";

* {
  color: white;
}

body {
  margin: 0;
  padding: 0;

  .nameTag {
    text-align: center;
    font-size: 3em;
  }
}
