#services {
  margin: 0;
  padding: 0;
  background: url("../../images/Rectangle115.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#container {
  color: white;
}

.col-6 {
  text-align: left;
}

.col-1 {
  color: red;
  font-size: 30px;
}

.nameOfServise {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

.includes {
  color: rgb(194, 194, 57);
}

p {
  font-size: 12px;
  font-style: normal;
}
